<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  ; 
  <script type="text/javascript" Payjp.setPublicKey("sk_test_2a18ff99eca591c3ba2fcca3")></script>
  <script type="text/javascript" src="https://js.pay.jp/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>

</html>